@import "tailwindcss";

.rubik-gemstones-regular {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.winky-rough-regular {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sour-gummy-regular {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.edu-nsw-act-hand-pre-regular {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
